html {
    background-color: rgb(206, 206, 206);
    margin-top: 1vh;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#tarolo {
    background-color: rgb(11, 14, 14);
    color: white;
    width: 90%; /* width mindig százalékosan adjuk meg */
    max-width: 800px;
    margin: auto; /* a tároló a böngésző közepére kerül */
    padding: 10px;
    border: rgb(255, 255, 255) solid 2.5px;
    border-radius: 25px;
    min-height: 85vh;
}

#menu a {
    text-decoration: none;
    color: white;
    background-color: blue;
    border: 2px solid white;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    border-radius: 5px;
}

#menu a:hover {
    color: white;
    background-color: darkgrey;
}
footer {
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 100px;
}
footer a {
    padding: 10px;
    border: 2px white solid;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
footer a:hover {
    color: white;
    background-color: darkgrey;
}
h1 {
    text-align: center;
}
img {
    width: 80%;
    margin: auto 10%;
    border: transparent 1px solid;
    border-radius: 5%;
}