body {
    background-color: rgb(86, 184, 135);
}
#tarolo {
    background-color: rgb(22, 29, 29);
    color: white;
    width: 90%; /* width mindig százalékosan adjuk meg */
    max-width: 800px;
    margin: auto; /* a tároló a böngésző közepére kerül */
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: greenyellow;
    background-color: green;
    border: 2px solid greenyellow;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    border-radius: 5px;
}

#menu a:hover {
    color: yellow;
    background-color: rgb(122, 122, 122);
}